*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Styling of the Fond within the page using Google Fonts */
body{
  font-family: 'Lora', serif;
}

/* Styling of the Nav Bar */
  .menubtn:hover, .menubtn:focus {
    background-color: #ddd;
  }
  
  .menu-bar {
    float: right;
    position: relative;
    display: inline-block;  
  }
  
  .menu-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
  }
  
  .menu-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .menu-bar a:hover {background-color: #ddd;}
  
  .show {display: block;}

  /* Styling of the Hero Image */
  .hero {
    height: auto;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./Assets/hero\ img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Styling of the Hide class that contains the Map with Directions */
#map-container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-count: 2;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 10px;
  border-radius: 10px;
}

#printoutPanel {
  background: white;
  opacity: 75%;
  overflow-y: auto;
  max-height: 400px; 
  max-width: 400px;
}