*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* .navbar-right a:hover {
    box-shadow: inset 0px 0px 15px var(--back-color), 0 0 15px var(--back-color);
} */

/* .menubtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  } */

.menubtn:hover,
.menubtn:focus {
  background-color: #ddd;
}

.menu-bar {
  float: right;
  position: relative;
  display: inline-block;
}

.menu-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  right: 0;
  z-index: 1;
}

.menu-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.menu-bar a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.hero {
  /* height: auto;
    width: auto; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./Assets/hero\ img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* .contact {
    flex-direction: column; 
    text-align: center;
    color: aliceblue;

} */

.hide {
  display: none;
}